<!DOCTYPE html>
<html lang='cn'>
<head>
<meta charset='utf-8'>
<meta http-equiv='X-UA-Compatible' content='IE=edge'>
<meta name='viewport' content='width=device-width, initial-scale=1'>
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<meta name='description' content='admin control'>
<meta name='author' content='MX'>

<link rel='icon' href='/favicon.ico'>

<script src='/js/jquery.min.js'> </script>
<script src='/js/jquery.js'> </script>
<script src='/js/adm.js'> </script>




<title>总控制面板</title>

<!-- Bootstrap core CSS -->
<link href='/css/bootstrap.min.css' rel='stylesheet'>

<!-- Custom styles for this template -->
<link href='/css/blog.css' rel='stylesheet'>

<!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
<!--[if lt IE 9]><script src='/assets/js/ie8-responsive-file-warning.js'></script><![endif]-->
<script src='/assets/js/ie-emulation-modes-warning.js'></script>

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
<!--<script src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js'></script> -->
<!--<script src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js'></script>  -->
<![endif]-->
</head>

<body>







<div class='blog-masthead'>
<div class='container'>
<nav class='blog-nav'>
<a class='blog-nav-item active' href='#'>Home Page</a>
<a class='blog-nav-item' >&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </a>
<a class='blog-nav-item' >&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </a>
<a class='blog-nav-item' >&nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
<a class='blog-nav-item' >&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </a>
<a class='blog-nav-item' >&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </a>
<a class='blog-nav-item' >&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </a>
<a class='blog-nav-item' >&nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
<a class='blog-nav-item' >&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </a>
<a class='blog-nav-item' href=''>Role: #{designer} @designer</a>
</nav>
</div>
</div>


<div class='container'>

<div class='row'>
<div class='col-sm-8 blog-main'>
<div class='blog-post'>


<h2 class='blog-post-title'>&nbsp;&nbsp;</h2>
<h3 class='blog-post-title'>More Project Management</h3>
<p class='blog-post-meta'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; by <a href=''>MX </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Date:  #{date}</p>

<p>这是一个多项目管理的总控制台，  你可以添加一个新的项目或者删除已经存在的项目。当然，你也可以通过它管理每个项目的管理员和用户的权限，以及管理每个项目功能模块的开发。</p>
<hr>


<form  >
<li class='dropdown pull-right'>
<a  href='/addproj' style='color: #3366FF'> +添加新项目</a>
</li>
</form>
<hr>



!{prjlist}




</div><!-- /.blog-post -->

<nav>
<ul class='pager'>
<li><a href='#'>Previous</a></li>
<li><a href='#'>Next</a></li>
</ul>
</nav>


</div><!-- /.blog-main -->






<div class='col-sm-3 col-sm-offset-1 blog-sidebar'>
<div class='sidebar-module sidebar-module-inset'>
<h4>MongoDB</h4>
<p>NoSql datebase<em> list each  collections for all porject.</em></p>
</div>




<div class='sidebar-module'>
<h4>Management  DB</h4>
<ol class='list-unstyled'>
!{manageList}

</ol>
</div>


<div class='sidebar-module'>
<h4>Elsewhere</h4>
<ol class='list-unstyled'>
<li><a href='#'>GitHub</a></li>
<li><a href='#'>Twitter</a></li>
<li><a href='#'>Facebook</a></li>
</ol>
</div>
</div><!-- /.blog-sidebar -->

</div><!-- /.row -->

</div><!-- /.container -->

<footer class='blog-footer'>
<p>Blog template built for <a href=''>Bootstrap</a> by <a href=''>@mdo</a>.</p>
<p>
<a href='#'>Back to top</a>
</p>
</footer>


<!-- Bootstrap core JavaScript================================================== -->
<!-- Placed at the end of the document so the pages load faster -->

<script src='/dist/js/bootstrap.min.js'></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src='/assets/js/ie10-viewport-bug-workaround.js'></script>
</body>
</html>
