
		" <div class=\\'container-fluid\'><div class=\'row-fluid\'><div class=\'span12\'><p class=\'table-striped\'></p><table class=\'table table-striped\'>";
		"<thead><tr><th>项目1：</th><th></th><th>注销</th></tr></thead><tbody><tr><td></td><td></td><td></td></tr>";
		"<tr class=\'success\'><td>管理员：</td><td>1：user1<br /> 2：user2<br /> 3：user3</td><td>添加新用户</td></tr>";
		"<tr class=\'info\'><td>用户：</td><td>1.user1<br /> 2.user2<br /> 3.user3</td><td>添加新用户</td></tr>";
		"<tr class=\'warning\'><td>功能模块：</td><td>  1.登陆--login.js <br /> 2.功能1--modle.js <br /> 2.功能2--modle.js <br />   2.功能3--modle.js </td><td></td></tr>";	
		"<tr class=\'\'><td>描述：</td><td>具体描述</td><td></td></tr></tbody></table></div></div></div>";

		
<div class='container-fluid'><div class='row-fluid'><div class='span12'><p class='table-striped'></p><table class='table table-striped'>
<thead><tr><th>项目1：</th><th></th><th>注销</th></tr></thead><tbody><tr><td></td><td></td><td></td></tr>
<tr class='success'><td>管理员：</td><td>1：user1<br /> 2：user2<br /> 3：user3</td><td>添加新用户</td></tr>					
<tr class='info'><td>用户：</td><td>1.user1<br /> 2.user2<br /> 3.user3</td><td>添加新用户</td></tr>
<tr class='warning'><td>功能模块：</td><td> !{test} 1.登陆--login.js <br /> 2.功能1--modle.js <br /> 2.功能2--modle.js <br />   2.功能3--modle.js </td><td></td></tr>	
<tr class=''><td>描述：</td><td>具体描述</td><td></td></tr></tbody></table></div></div></div>